.footer{
    background-color: #6b57a7;
    padding: 30px;
    color:#666;
}

.CatProyect{
    background-color: rgb(193, 176, 197);
    margin-top: 30px;
    padding: 10px;
}

.CatProyect-lg{
    background-color:rgb(77, 73, 69);
    color:rgb(233, 212, 212) ;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: space-between;
    align-items:center;

}
.strong{
    font-weight: 700;
}
.imgLogoEco{
    max-width: 100px;
}

.texto{
    width: 400px;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.cuerpoFooter{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content:space-evenly;
    margin-top: 20px;
}

.opcionesFooter{
    max-width: 250px;
    color: gainsboro;
}

.opcionesFooter p{
    margin: 2px;
}

.linea{
    background-color: darkgrey;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.redes{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content:flex-end;
}